.myButton{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.myCard{
  border-left: 3px solid blue;
  border-radius: 0 0 5px 0;
  text-align: center;
}

.myCard:hover{
  background-color: rgb(224, 224, 224);
  cursor: pointer;
}


